@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.item {
    border: 1px solid #c2c2c2;
    padding: 5px 15px;
    margin: 5px 0 5px 18px;
    width: 500px;
}
.blue {
    color: #2184ff;
}
.green, .file {
    color: #73a855;
}
.table_dark {
    font-size: 14px;
    width: 650px;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    margin: 5px 0 5px 18px;
}
.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}
.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
td img {
    width: 125px; height: auto;
}
.featherlight-content {
    background: #111111 !important;
}
.featherlight-close-icon {
    color: white !important;
    background: #111111 !important;
    outline: none;
}