{{ set(this, 'title', 'Categories list') }}
<h1>Categories list</h1>
<p>
    In this section, you can add, remove or edit faq categories.
</p>
<a class="btn btn-default btn-success" href="/categories/create">Add category</a>
<br /><br />
{% if categories %}
    <table class="table">
        <tr>
            <th>№</th>
            <th><b>Name</b></th>
            <th><b>Keyword</b></th>
            <th><b>Questions</b></th>
            <th><b>Posted</b></th>
            <th><b>Unanswered</b></th>
            <th></th>
        </tr>
    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td><a href="/questions/index/{{ category.id }}">{{ category.name }}</a></td>
            <td>{{ category.keyword }}</td>
            <td>{{ category.questions_count }}</td>
            <td>{{ category.answered_count }}</td>
            <td><a href="/questions/unanswered/{{ category.id }}">{{ category.questions_count-category.answered_count }}</a></td>
            <td></td>
            <td>
                <a href="/categories/update/{{ category.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a class="remove" href="/categories/remove/{{ category.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}