{{ set(this, 'title', 'Edit category') }}
{% if error %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ error }}
</div>
{% endif %}
<form action="#" method="post">
    <div class="form-group">
        <label for="name">Category name</label>
        <input maxlength="255" type="text" class="form-control" id="name" placeholder="Please, choose category name" name="Category[name]" value="{{ category.name }}">
    </div>
    <div class="form-group">
        <label for="keyword">Category keyword</label>
        <input maxlength="50" type="text" class="form-control" id="keyword" placeholder="Specify category short keyword" name="Category[keyword]" value="{{ category.keyword }}">
    </div>
    <button type="submit" class="btn btn-default btn-success">Save category</button>
</form>