input[type=file] {
    font-size: 11px;
    margin: 0 0 20px 5px;
}

input[type=file], input[type=submit] {
    outline: none;
}

button {
    outline: none !important;
}

.error, .error strong {
    font-size: 11px;
    color: #f56a6a !important;
}

.smalll {
    font-size: 11px !important;
    color: #d0d0d0;
}

.g-recaptcha {
    margin: 18px 0;
}