{{ set(this, 'title', 'Ask a question') }}
<div class="cd-faq-items">
    <section class="askme content">
        <h2>Ask your question</h2>
        {% if errors %}
            <div class="error">
                {{ errors }}
            </div>
        {% endif %}
        <form class="ask" method="post" action="/site/ask">
            <div class="form-group">
                <label for="categoryid">Category</label>
                <select name="Question[category_id]" class="form-control" id="categoryid">
                    {% for category in categories %}
                        <option {% if category.id == ask.category_id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="question">Your name</label>
                <input maxlength="250" type="text" class="form-control" id="name" placeholder="" name="Question[name]" value="{{ ask.name}}">
            </div>
            <div class="form-group">
                <label for="question">E-Mail</label>
                <input maxlength="250" type="text" class="form-control" id="email" placeholder="" name="Question[email]" value="{{ ask.email }}">
            </div>
            <div class="form-group">
                <label for="question">Your question</label>
                <textarea rows="3" class="form-control" id="question"  name="Question[question]">{{ ask.question }}</textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit your question"/>
            </div>
        </form>
    </section>
</div>
