{{ set(this, 'title', 'Your question has been submitted') }}
<div class="cd-faq-items">
    <section class="askme content">
        <h2>Thank you!</h2>
        <p>Your question was successfully submitted. It will be shown after administrator's review.</p>
        <a href="/">Go to index</a>
    </section>
</div>
