{{ set(this, 'title', 'FAQ') }}
<ul class="cd-faq-categories">
    {%  for category in categories %}
        <li><a {% if loop.first %}class="selected"{% endif %} href="#{{ category.keyword }}">{{ category.name }}</a></li>
    {%  endfor %}
</ul> <!-- cd-faq-categories -->
<div class="cd-faq-items">
    {%  for category in categories %}
    <ul id="{{ category.keyword }}" class="cd-faq-group">
        <li class="cd-faq-title"><h2>{{ category.name }}</h2></li>
        {% for question in questions[category.id] %}
        <li>
            <a class="cd-faq-trigger" href="#{{ question.id }}">{{ question.question }}</a>
            <div class="cd-faq-content">
                <p>{{ question.answer }}</p>
            </div> <!-- cd-faq-content -->
        </li>
        {% endfor %}
    </ul> <!-- cd-faq-group -->
    {%  endfor %}
    <br />
    <section class="askme content">
    <h2>Ask your question</h2>
    <form class="ask" method="post" action="/site/ask">
        <div class="form-group">
            <label for="categoryid">Category</label>
            <select name="Question[category_id]" class="form-control" id="categoryid">
                {% for category in categories %}
                    <option {% if category.id == ask.category_id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="question">Your name</label>
            <input maxlength="250" type="text" class="form-control" id="name" placeholder="" name="Question[name]" value="{{ ask.name}}">
        </div>
        <div class="form-group">
            <label for="question">E-Mail</label>
            <input maxlength="250" type="text" class="form-control" id="email" placeholder="" name="Question[email]" value="{{ ask.email }}">
        </div>
        <div class="form-group">
            <label for="question">Your question</label>
            <textarea rows="3" class="form-control" id="question"  name="Question[question]">{{ ask.question }}</textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit your question"/>
        </div>
    </form>
    </section>
</div>
