{{ set(this, 'title', 'Login') }}
<div class="cd-faq-items content">

    <h2>Welcome!</h2>
    <p>Please, introduce yourself to gain the admin access.</p>
    {% if hasErrors == true %}
        <div class="error">
            Wrong username or password specified, please, try again.
        </div>
    {% endif %}
    <form action="#" method="post">
        <div class="form-group">
            <label for="username">Username</label><input id="username" name="username" type="text" value="{{ username }}"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label><input id="password" name="password" type="password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Sign in"/>
        </div>
    </form>
</div>