<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
    <script src="/js/modernizr.js"></script> <!-- Modernizr -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>{{ this.getTitle() }}</title>
</head>
<body>
    <header>
        <div class="user-menu">
            {%  if user != false  %}
                Welcome, {{ user.getAttributeValue('username') }} !<br/>
                <a href="/">Home</a>
                <a href="/site/logout">Logout</a>
                <a href="/users/index">Admin interface</a>
            {% else %}
                <a href="/site/login">Login</a>
            {% endif %}
        </div>

    </header>

    <section class="cd-faq">

            <ul class="cd-faq-categories">
                <li><a href="/users/index">Users</a></li>
                <li><a href="/categories/index">Categories</a></li>
                <li><a href="/stopword/index">Stop words</a></li>

                <li><a href="/questions/index">All questions</a></li>
                <li><a href="/questions/unanswered">Unanswered questions</a></li>
                <li><a href="/questions/blacklisted">Blacklisted questions</a></li>
            </ul> <!-- cd-faq-categories -->
        <div class="cd-faq-items content">
            {{ content | raw }}
        </div>
    </section>

    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/jquery.mobile.custom.min.js"></script>
    <script src="/js/backend.js"></script> <!-- Resource jQuery -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>