<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
    <script src="/js/modernizr.js"></script> <!-- Modernizr -->
    <title>{{ this.getTitle() }}</title>
</head>
<body>
    <header>
        <h1>{{ this.getTitle() }}</h1>
        <div class="user-menu">
            {%  if user != false  %}
                Welcome, {{ user.getAttributeValue('username') }} !<br/>
                <a href="/site/logout"><small>Logout</small></a>
                <a href="/users/index"><small>Admin interface</small></a>
            {% else %}
                <a href="/site/login">Login</a>
            {% endif %}
        </div>

    </header>

    <section class="cd-faq">
        {{ content | raw }}
    </section>

    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/jquery.mobile.custom.min.js"></script>
    <script src="/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>