{{ set(this, 'title', 'Questions managment') }}
<h1>{% if unanswered %}Unanswered{% endif %} Questions list</h1>

<a class="btn btn-default btn-success" href="/questions/create{% if category_id %}/{{ category_id }}{% endif %}">Add question</a>
<br /><br />
{% if questions %}
    <table class="table">
        <tr>
            <th>№</th>
            <th><b>Publish</b></th>
            <th><b>Category</b></th>
            <th><b>Question</b></th>
            <th><b>Asked date</b></th>
            <th><b>Answered date</b></th>
            <th><b>Name</b></th>
            <th><b>EMail</b></th>

            <th></th>
        </tr>
    {% for question in questions %}
        <tr {% if question.answered is null %}class="danger"{% else %}{% if question.published==0 %}class="warning"{% endif %}{% endif %}>
            <td>{{ question.id }}</td>
            <td><input type="checkbox" class="publish" data-id="{{ question.id }}" {% if question.published %} checked="checked" {% endif %}/>
            {% if question.botuser_id %}<img src="/images/telegram.png" title="Question from telegram"/>{% endif %}
            </td>
            <td>{{ question.category_name }}</td>
            <td>{%  if question.blacklisted %}<b style="color:red;" title="Blacklisted!">{{ question.question }}</b>
                {% if badwords[question.id] %}<small>Stopwords: {{ badwords[question.id] }}</small>{% endif %}
                {% else %}{{ question.question }}{% endif %}</td>
            <td>{{ question.created|date("d.m.Y H:i")}}</td>
            <td>{% if question.answered %}{{ question.answered|date("d.m.Y H:i") }}{% else %}&mdash;{% endif %}</td>
            <td>{{ question.name }}</td>
            <td>{{ question.email }}</td>
            <td>
                <a href="/questions/update/{{ question.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a class="remove" href="/questions/remove/{{ question.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}