{{ set(this, 'title', 'Edit question') }}
{% if error %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ error }}
</div>
{% endif %}
<form action="/questions/update/{{ question.id }}" method="post">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="1" name="Question[published]" {% if question.published %}checked="checked"{% endif %}> Published
        </label>
        <label>
            <input type="checkbox" value="1" name="Question[blacklisted]" {% if question.blacklisted %}checked="checked"{% endif %}> Blacklisted
        </label>
    </div>
    <div class="form-group">
        <label for="categoryid">Category</label>
        <select name="Question[category_id]" class="form-control" id="categoryid">
            {% for category in categories %}
                <option {% if category.id == question.category_id %}selected{% endif %} value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="question">Name</label>
        <input maxlength="250" type="text" class="form-control" id="name" placeholder="" name="Question[name]" value="{{ question.name}}">
    </div>
    <div class="form-group">
        <label for="question">E-Mail</label>
        <input maxlength="250" type="text" class="form-control" id="email" placeholder="" name="Question[email]" value="{{ question.email}}">
    </div>
    <div class="form-group">
        <label for="question">Question</label>
        <input maxlength="250" type="text" class="form-control" id="question" placeholder="" name="Question[question]" value="{{ question.question}}">
    </div>
    <div class="form-group">
        <label for="question">Answer</label>
        <textarea class="form-control" rows="5" name="Question[answer]">{{ question.answer}}</textarea>
    </div>
    <button type="submit" class="btn btn-default btn-success">Save question</button>
</form>