{{ set(this, 'title', 'Add a new stopword') }}
{% if error %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ error }}
</div>
{% endif %}
<form action="/stopword/create" method="post">
    <div class="form-group">
        <label for="name">Word</label>
        <input maxlength="50" type="text" class="form-control" id="name" placeholder="Please, choose word" name="Stopword[word]" value="{{ word.word }}">
    </div>
    <button type="submit" class="btn btn-default btn-success">Create stopword</button>
</form>