{{ set(this, 'title', 'Stopwords list') }}
<h1>Stopwords list</h1>
<p>
    This is the stop-words list
</p>
<a class="btn btn-default btn-success" href="/stopword/create">Add stopword</a>
<br /><br />
{% if words %}
    <table class="table">
        <tr>
            <th>№</th>
            <th><b>Word</b></th>
            <th></th>
        </tr>
    {% for word in words %}
        <tr>
            <td>{{ word.id }}</td>
            <td>{{ word.word }}</td>
            <td>
                <a href="/stopword/update/{{ word.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a class="remove" href="/stopword/remove/{{ word.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}