{{ set(this, 'title', 'Edit stopword') }}
{% if error %}
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ error }}
</div>
{% endif %}
<form action="#" method="post">
    <div class="form-group">
        <label for="name">Stopword</label>
        <input maxlength="50" type="text" class="form-control" id="name" placeholder="" name="Stopword[word]" value="{{ word.word }}">
    </div>

    <button type="submit" class="btn btn-default btn-success">Save stopword</button>
</form>