{{ set(this, 'title', 'Bot is registered') }}
<div class="cd-faq-items">
    <div class="content">
    <h2>Telegram bot is registered</h2>
    <p>The telegram bot has been registered to get webupdates.</p>
        <a href="http://t.me/{{ botname }}">Access the bot</a>
    </div>
</div>
