{{ set(this, 'title', 'Users list') }}
<h1>Users list</h1>
<p>
    In this section, you can add, remove or edit users.
</p>
<a class="btn btn-default btn-success" href="/users/create">Add user</a>
<br /><br />
<table class="table">
    <tr>
        <th>№</th>
        <th><b>Username</b></th>
        <th></th>
    </tr>
{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>
            <a href="/users/update/{{ user.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            <a class="remove" href="/users/remove/{{ user.id }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </td>
    </tr>
{% endfor %}
</table>