{{ set(this, 'title', 'Update existing user') }}
{% if error %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{ error }}
    </div>
{% endif %}
<form action="#" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" name="User[username]" value="{{ username }}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="User[password]">
        <small>Leave blank to keep the current password</small>
    </div>
    <button type="submit" class="btn btn-default btn-success">Save user</button>
</form>