@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
.continent_head {
    background: #e1e1e1;
    border-radius: 3px;
    padding: 2px 25px;
    width: 500px;
}
.animals {
    padding: 5px 25px 25px 25px;
    width: 500px;
}
.africa {
    background-image: url("img/africa.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right top;
}
.america {
    background-image: url("img/america.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right top;
}
.europe {
    background-image: url("img/europe.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right top;
}
.australia {
    background-image: url("img/australia.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right center;
}
.antarctica {
    background-image: url("img/antarctica.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: right top;
}
.circle{
    width: 12px;
    height: 12px;
    display: inline;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    background: #73a855;
    padding: 1px 4px;
}
.inside {
    font-size: 11px;
    color: white;
}
.copyleft {
    background-image: url("img/copyleft.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 325px; height: 34px;
    border-radius: 3px;
    overlay: hidden;
    padding: 16px 0 0 25px;
    color: white;
}